html { font-family: sans-serif; line-height: 1.5; background: white; color: black }
body { margin-bottom: 50vh }
p { margin: 0 40px; padding: 0.5em; background-color: #fdd73d; max-width: 55em }
h1 { background-color: #eaeaea; font-size: 1.5em; font-weight: normal; padding-left: 50px; text-indent: -50px }
img { padding: 10px 50px; vertical-align: -16px }
table { border-collapse: collapse; width: 100% }
td:nth-child(4) { white-space: nowrap }
th, td { border: thin solid; padding: 0 0.5em; height: 3em }
td:first-child + td + td + td + td { text-align: center }
tr:nth-child(even) { background-color: #eaeaea }
:link, :visited { text-decoration: none }
:link:hover, :visited:hover { text-decoration: underline }
.gh-label { font-weight: bold; padding: 5px; border-radius: 3px }
.flaky.gh-label { background-color: #d93f0b; color: white }
.gh-button { background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%); color: black; white-space: nowrap; border: 1px solid silver; padding: 6px 12px; border-radius:0.25em }
.gh-button:hover { text-decoration: none }
figure { margin: 1em 40px; max-width: 55em }
figcaption { font-size: smaller; font-style: italic; text-align: center }
svg { display: block }
path { fill: none }
#filter-input { width: 80%; margin-left: 1.5em }
#filter-input:invalid { background-color: pink }
label { padding-left: 1em }
